#accueil {
    background : -webkit-radial-gradient(center center, #FFFFFF 0%, #A5A5A5 100%);
}

#map_canvas {
    position:absolute;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
}

#logo{
    display:block;
    margin:auto;
    height:30%;
    width:30%;
    margin-bottom: 10px;
}

.ui-grid-a .ui-block-a { width: 75%; }
.ui-grid-a .ui-block-b { width: 25%; }

.ui-grid-a .ui-block-b {position: relative; top:-9px;}

.ui-grid-b .ui-block-a { width: 65%;}
.ui-grid-b .ui-block-b { width: 30%;}

.ui-grid-b .ui-block-b { margin-bottom: 20px;}

.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important;
}
#favorite .ui-icon {
    background:  url("../image/icon/29-heart.png") 50% 50% no-repeat;
    background-size: 22px 22px;
}
#social .ui-icon {
    background:  url("../image/icon/112-group.png") 50% 50% no-repeat;
    background-size: 35px 22px;
}
#recent .ui-icon {
    background:  url("../image/icon/11-clock.png") 50% 50% no-repeat;
    background-size: 22px 22px;
}
#poi .ui-icon {
     background:  url("../image/icon/73-radar.png") 50% 50% no-repeat;
     background-size: 22px 22px;
 }

.ui-icon-cloud {
    background:  url("../image/icon/56-cloud.png") 50% 50% no-repeat;
    background-size: 22px 22px;
}

@media screen and (orientation:portrait) {
    #noomad {
        margin-top:30%;
        margin-bottom:20%;
    }
}

@media screen and (orientation:landscape) {
    #noomad {
        margin-bottom:5%;
    }
}
